<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Karyawan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
  <nav th:replace="fragments/fragment :: navbar"></nav>
  <div class="container">
    <div class="card m-4 p-4">
      <div class="card-body">
        <div class="justify-content-center">
          <h1>Filter Tugas berdasarkan Nama Karyawan dan Status Tugas</h1>
          <form th:action="@{/filter-tugas}" method="POST">
            Nama
            <select name="id-karyawan" class="form-control">
              <option value="" th:text="'Nama karyawan'" >
              <option th:each="karyawan : ${listKaryawan}" th:value="${karyawan.idKaryawan}" th:text="${karyawan.namaPanjang}">
            </select>
            <br><br>

            Status
            <select name="status">
              class="form-control">
              <option th:value="0" th:text="Dimulai"></option>
              <option th:value="1" th:text="Dikerjakan"></option>
              <option th:value="2" th:text="Selesai"></option>

            </select>
            <br><br>

            <button class="btn btn-primary" type="submit" name="save">Cari</button>
          </form>

          <h2>Daftar Tugas</h2>
          <br>
          <a th:href="@{/}" class="btn btn-primary">Kembali</a>
          <br>
          <table class="table">
            <thead>
            <th>No</th>
            <th>Nama Tugas</th>
            <th>Story Point</th>
            <th>Deskripsi</th>
            </thead>
            <tbody>
            <tr th:each="tugas, iterationStatus : ${listTugas}">
                <td th:text="${iterationStatus.count}"></td>
              <td th:text="${tugas.nama}"></td>
              <td th:text="${tugas.storyPoint}"></td>
                <td th:text="${tugas.deskripsi}"></td>

            </tbody>
          </table>
          <br>

        </div>
      </div>
    </div>
  </div>

</body>
</html>