<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tambah presensi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2>Tambah Presensi</h2>
                    <br>
                    <form th:action="@{/presensi/tambah}" th:object="${presensi}" method="POST">

<!--                        Nama: <br>-->
<!--                        <input class="form-control" type="text" name="email"/>-->
                        Nama
                        <select name="karyawan" class="form-control">
                            <option th:each="karyawan : ${karyawanList}" th:value="${karyawan.idKaryawan}" th:text="${karyawan.namaPanjang}">
                        </select>
                        <br><br>

                        Tanggal: <br>
                        <input class="form-control" type="date" name="tanggal"/>
                        <br><br>

                        Waktu Masuk: <br>
                        <input type="datetime-local" name="waktuMasuk">
                        <br><br>

                        Waktu Keluar: <br>
                        <input type="datetime-local" name="waktuKeluar">
                        <br><br>

                        Status
                        <select name="status" class="form-control">
                            <option th:value="0" th:text="'Terlambat'"></option>
                            <option th:value="1" th:text="'Tepat Waktu'"></option>
                        </select>
                        <br><br>

                        <table class="table">
                            <tbody>
                            <tr th:each="tugas, iterationStatus : *{listTugas}">
                                <td>
                                    <select th:field="*{listTugas[__${iterationStatus.index}__].idTugas}" class="form-control">
                                        <option th:each="tugasEx, iterationStatus2 : ${listTugasExisting}" th:value="${tugasEx.idTugas}" th:text="${tugasEx.nama}"></option>
                                    </select>
                                </td>
                                <td>
                                    <select th:field="*{listTugas[__${iterationStatus.index}__].status}" class="form-control">
                                        <option th:value="0" th:text="Dimulai"></option>
                                        <option th:value="1" th:text="Dikerjakan"></option>
                                        <option th:value="2" th:text="Selesai"></option>
                                    </select>
                                </td>
                                <td>
                                    <button th:value="${iterationStatus.index}" class="btn btn-danger" type="submit" name="deleteRow">
                                        Hapus
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary" type="submit" name="addRow">Tambah Tugas</button>
                        <br><br>

                        <button class="btn btn-primary" type="submit" name="save">Simpan</button>
                        <a class="btn btn-primary" th:href="@{/}">Batal</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>