<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>BelajarBelajar</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <a class="btn btn-primary" th:href="@{/karyawan/} + ${karyawan.idKaryawan} + @{/ubah}">Edit</a>
      <a class="btn btn-primary" th:href="@{/karyawan/} + ${karyawan.idKaryawan} + @{/hapus}">Hapus</a>
      <a class="btn btn-primary" th:href="@{/karyawan}">Kembali</a>
      <div class="justify-content-center">
        <h2>Detail Karyawan</h2>
        <br>
        <p th:text="'Nama: ' + *{karyawan.namaPanjang}"></p>
        <p th:if="${karyawan.jenisKelamin == 0}" th:text="'Laki - laki'"></p>
        <p th:if="${karyawan.jenisKelamin == 1}" th:text="'Perempuan'"></p>
        <p th:text="'Email: ' + ${karyawan.email}"></p>
        <p th:text="'Tanggal Lahir: ' + ${#temporals.format(karyawan.tanggalLahir, 'dd MMMM yyyy')}"></p>


<!--        <div th:if="*{listSertifikatKaryawan.size() != 0}">-->

<!--          <form th:action="@{/pengajar/delete}" th:object="${course}" method="POST">-->
<!--            <input type="hidden" th:field="*{code}">-->
<!--            <input type="hidden" th:field="*{tanggalDimulai}">-->
<!--            <input type="hidden" th:field="*{tanggalBerakhir}">-->
            <table class="table">
              <thead>
              <tr>
                <th>No</th>
                <th>Nama Sertifikasi </th>
                <th>No Sertifikasi</th>
                <th>Tanggal Pengambilan</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="sertifikasi, iterationStatus : ${listSertifikasiKaryawan}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${sertifikasi.idSertifikasi.nama}"></td>
                <td th:text="${sertifikasi.noSertifikasi}"></td>
                <td th:text="${#temporals.format(sertifikasi.tanggalPengambilan, 'dd MMMM yyyy')}"></td>
              </tr>
              </tbody>
            </table>
<!--            <input type="submit" value="Delete yang dipilih" class="btn btn-danger">-->
<!--          </form>-->

<!--        </div>-->
<!--        <div th:unless="*{listPengajar.size() != 0}">-->
<!--          <h2 th:text="'Tidak ada pengajar'"></h2>-->

<!--        </div>-->
        <br>

      </div>
    </div>
  </div>
</div>

</body>
</html>