<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SISDM</title>
  <head  th:fragment="css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  </head>
  <head th:fragment="js">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand font-weight-bold text-primary" th:href="@{/}">SI-SDM</a>


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <a class ="nav-item nav-link text-secondary" th:href="@{/karyawan}" >
        Karyawan
      </a>
      <a class ="nav-item nav-link text-secondary" th:href="@{/presensi}" >
        Presensi
      </a>
      <a class ="nav-item nav-link text-secondary" th:href="@{/tambah-tugas}" >
        Tambah Tugas
      </a>

      <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" th:href="@{filter-tugas}">Cari tugas berdasarkan karyawan yang memiliki status tertentu</a>
          <a class="dropdown-item" th:href="@{filter-sertifikasi}">Cari karyawan berdasarkan sertifikat</a>
        </div>
      </div>

    </ul>
  </div>


  </div>

</nav>


</body>
</html>